
body{
      font-family: "Source Code Pro", monospace!important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
.coontainer{
     flex:1;
}
/* navber*/
.fa-cart-shopping{
    color:rgb(0, 47, 255);
    font-size:30px;
}
.navber{
    height: 5rem;
}
.nav-link{
    color: rgb(38, 47, 172)!important;
}

.f-info-links a{
    text-decoration: none;
    color:rgb(148, 31, 11);
}
.f-info-links a::hover{
    text-decoration:  underline;
}
.f-info-links,.f-info-socials{
    width:100%;
}

.f-info-socials i{
    font-size:1.2rem;
    margin-right:2rem;
}
footer {
    margin-top:auto;
}
.f-info{
    width:100%;
    text-align: center;
    background-color: grey;
    display:flex;
    justify-content: center;
    height:8rem;
    flex-wrap:wrap;
    
}

/*card*/
.card{
    margin-bottom:2rem;
    border:none!important;
}

.card-img-top{
   border-radius: 1rem!important; 
   object-fit:cover!important;
   width: 100%;
}
.card-body{
    padding:0 !important;
}
.card-title{
    text-decoration: none;
}
/*card effect*/

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
a{
    text-decoration: none!important;
}
.card-btn{
    background-color: rgb(223, 24, 24)! important;
    border:none! important;
}